/* Page */
html, body {
    height: 100%;
    overflow: hidden;
}

/* Pooptendo Canvas */
.CanvasDiv {
    margin: 0;
    padding: 0;

    position: relative;
}
.PooptendoCanvas {
    width: 512px;
    image-rendering: pixelated;
    
    border: 1px solid black;
}
.PooptendoStatus {
    position: absolute;
    padding: 8px;

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Style */
    color: white;
    font-size: 30px;
    font-weight: bold;

    -webkit-text-stroke: 1.5px black;
    text-stroke: 1.5px black;

    bottom: 0;
    left: 0;
}

/* Settings */
.FileButton, .Button, .SmallButton {
    font-family: arial;
    font-size: 13px;

    position: relative;
    display: inline-block;

    height: 28px;
    line-height: 28px;
    text-align: center;

    user-select: none;

    background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
    border: 1px solid #aaaaaa;
    border-radius: 2px;
}
.FileButton:hover, .Button:hover, .SmallButton:hover {
    background-image: linear-gradient(to bottom, #d4d4d4, #e7e7e7);
}
.FileButton:active, .Button:active, .SmallButton:active {
    background-image: linear-gradient(to bottom, #f4f4f4, #ffffff);
}

.FileButton {
    display: ;
    width: 100px;
    height: 28px;
}
.Button {
    width: 80px;
    height: 28px;
}
.SmallButton {
    width: 28px;
    height: 28px;
}
.Range {
    user-select: none;
    width: 180px;
}
.ButtonDiv {
    position: absolute;
    top: 0;
    right: 0;
}

/* File Select */
.FileSelect {
    user-select: none;
}

